    <!-- About Section -->
    <section id="projects" class="container content-section text-center">
    <h1>Projects</h1>
    <br>
    <br>
    <br>
    <br>
    <br> 
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
		        <h2> Ongoing </h2>

                <div class = "col-lg-6">
                	<a href="_includes/projects/gwaves.html" class="btn btn-default btn-lg" style="float: middle; margin-top:10px;" target = "_blank">G-waves Detection</a>
                </div>

                <div class = "col-lg-6">
                	<a href="_includes/projects/smart-heart.html" class="btn btn-default btn-lg" style="float: middle; margin-top:10px;"target = "_blank">Smart Heart</a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
         

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
		          
                <h2> Past </h2>

                <div class = "col-lg-4">
                	<a href="_includes/projects/isro.html" class="btn btn-default btn-lg" style="float: middle; margin-top:10px; "  target = "_blank">ISRO</a>
                </div>

                <div class = "col-lg-4">
                	<a href="_includes/projects/spacenet.html" class="btn btn-default btn-lg" style="float: middle; margin-top:10px;"target = "_blank">Spacenet</a>
                </div>

                <div class = "col-lg-4">
                    <a href="_includes/projects/Deraining.html" class="btn btn-default btn-lg" style="float: middle; margin-top:10px;"target = "_blank">Deraining Images</a>
                </div>
		
            </div>
        </div>
    </section>
